<h1>Listing pages</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Heading</th>
    <th>Content</th>
    <th>Date created</th>
    <th>Date updated</th>
    <th>Deleted at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.id %></td>
    <td><%= page.heading %></td>
    <td><%= page.content %></td>
    <td><%= page.date_created %></td>
    <td><%= page.date_updated %></td>
    <td><%= page.deleted_at %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_page_path %>
