<div class="row">
  <div class="large-12 columns">
      <h2 class="subheader"><%= @page.heading %></h2>
      <div class="panel">
        <p><%= @page.content.html_safe %></p>

        <p>date created: <%= @page.date_created %> || date updated: <%= @page.date_updated %></p>
        <p>tags: <% if @tags.count > 0 %><% @tags.each do |tag| %><span class="label round"><%= tag.name %></span><% end %><% else %>no tags<% end %></p>
        <p>categories: <% if @categories.count > 0 %><% @categories.each do |cat| %><span class="label round"><%= cat.name %></span><% end %><% else %>no categories<% end %></p>
        <% if @page.id == 5 %><%= link_to 'edit', edit_page_path(@page) %><% end %> 
      </div>
  </div>
</div>