<div class="row">
    <div class="large-12 columns">
        <h2 class="subheader">posts</h2>
        <% @posts.each do |post| %>
            <div class="panel">
                <h4 class="subheader"><%= post.name %></h4>
                <p><%= post.content.html_safe %></p>
                <p>date created: <%= post.date_created %> || date updated: <%= post.date_updated %></p>
                <p><%= link_to 'show', post %></p>
            </div>
        <% end %>
        <br />
        <p><%= link_to 'new post', new_post_path, :class => "button tiny" %></p>
    </div>
</div>